body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(41, 86, 145);
}

h1 {
    font-family: 'Impact', sans-serif;
    font-size: 40px;
    color: white;
}

#mycat {
    width: 400px;
}